[core]
	editor = vim
	excludesfile = /home/radorado/.gitignore_global
[push]
	default = simple
[user]
	email = radorado@hacksoft.io
	name = Radoslav Georgiev
[alias]
  s = status
  a = add -p
	# List Git aliases with definitions
	aliases = ! git config --get-regexp ^alias\\. | grep -v "^alias\\.aliases" | sed -e 's/^alias\\.//' -e 's/\\ /\\ =\\ /'
  #
  # Shorthand for push
  p = push

  # Shorthand for pull
  pl = pull --ff-only

  # Create a new remote branch with the same name and track it.
  # First argument is remote name. Defaults to "origin".
  # Second, third and fourth argument are passed to `git push`.
  publish = "!p() { [ -z \"$1\" ] && remote=\"origin\" || remote=$1; git push --set-upstream $2 $3 $4 $remote HEAD; }; p"

  # Push force with a check if all the commits you are overriding on the remote
  # were previously present in the remote reference in your repository.
  # This way force push is safer as it wouldn't overwrite commits by other team members
  # pushed to the remote branch after you've last pulled and rewritten some history.
  pushf = push --force-with-lease
